* {
	margin: 0;
	padding: 0;	
}

body {
	background-color: #F3F3F3;
}

.contents {
    margin: 0 auto;
    width: 1400px;
    background-color: white;
}

/* head begin */
.head {
    overflow: hidden;
    background-color: #5A5A5A;
}

.logo {
    float: left;  
}


.nav {
    background-color: #5A5A5A;
}

.nav > ul {
	list-style-type: none;
	overflow: hidden;
	float: left;
}

.nav > ul > li {
    float: left;
    line-height: 60px;
    border-right: 1px solid #D2D2D2;
}

.milk-white {
    background-color: #F8F8FC;
}

.white-grey {
    background-color: #D2D2D2;
}

.dark-grey {
    background-color: #5A5A5A;
}


.nav > ul > li > a {
    display: block;
    width: 77px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav > ul > li > a:hover {
    color:red;
    background-color: #D2D2D2;
    overflow: hidden;
}

.search {
    display: block;
    width: 85px;
    height: 68px;
    background-color: #5A5A5A;
    float: right;
    text-align: center;
    border-right: solid 1px #757474;
}

.search  img {
    padding: 30px;
}


.purchase {
    display: block;
    width: 85px;
    height: 68px;
    background-color: #5A5A5A;
    float: right;
    text-align: center;
}

.purchase  img {
    padding-top: 30px;
}

.purchase div {
    display: inline;
    width: 20px;
    height: 20px;
    background-color: red;
    text-align: center;
}

/*head end*/

/* slide begin */
.slider {
	margin: 0 auto;
	width: 1400px;
	/*background-color:blue;*/
}
.slider-container {
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1400px;
}
.slider-container .slider-wrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5000em; /*Fix for prevent display errors*/
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.slider-container .slide {
	float: left;
	height: 400px;
	overflow: hidden;
	position: relative;
	width: 1400px;
}
.slider-nav {
	text-align: center;
	width: 1400px;
	background-color: black;
	line-height: 31px;
}

.control-nav {
	text-align: center;
    width: 1400px;
    position: absolute;
    margin-top: -241px;
}

.slider-nav li {
	display: inline;
	padding: 3px;
	line-height: 31px;
}
.slider-nav .bullet {
	background-color: #000000;
	border-radius: 0%;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 10px;
	width: 10px;
	border: solid white 1px;
}
.slider-nav .active {
	background-color: white;
}

.control-nav li {
	display: inline;
	line-height: 31px;
}

.control-nav .prev, .control-nav .next {
	background: url('../images/left.png') no-repeat;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
    height: 35px;
    width: 25px;
    float:left;
    margin-left:30px;
}
.control-nav .next {
	background: url('../images/right.png') no-repeat;
	float: right;
	margin-right:30px;
}

/* slide end */

/* product1 begin */
.product1 {
    background-color: white;
    height: 50px;
}

.product1 h3 {
    margin: 0 auto;
    line-height: 50px;
    text-indent: 15px;
}

.bigshow_product {
    float: left;
    height: auto;
}

.bigshow_product > img {
    display: block;
}

.normalshow_product {
    float: left;
    height: auto;
}

.normalshow_product > img {
    display: block;
}

.normalshow_product > div {
    height: 30px;
    width: 350px;
    background-color: black;
}

.normalshow_product > div > img {
    height: 14px;
    background-color: black;
    padding-left: 14px;
}

.normalshow_product > div > a {
    color: white;
    padding-left: 11px;
    text-decoration: none;
    line-height: 30px;
}
.normalshow_product > hr {
    width: 35px;
    border-color: black;
    margin-top: 30px;
    margin-left: 24px;
    text-align: left;
}

.normalshow_product > p {
    width: 262px;
    padding-top: 25px;
    margin-left: 24px;
    padding-bottom: 25px;
}

.normalshow_product > a {
    color: red;
    margin-left: 24px;
}

/* product1 end*/


/* split begin */
.horizon_split {
    clear: both;
    border-color: black;
    border: solid 2px;
}
/* split end */

/* product2 begin */
.product2 {
    background-color: white;
    height: 50px;
}

.product2 h3 {
    margin: 0 auto;
    line-height: 50px;
    text-indent: 15px;
}

.product2 > div {
	float: left;
}

.product2 > div > div {
    height: 30px;
    width: 350px;
    background-color: black;
}

.product2 > div > div > img {
    height: 14px;
    background-color: black;
    padding-left: 14px;	
}

.product2 > div > div > a {
    color: white;
    padding-left: 11px;
    text-decoration: none;
    line-height: 30px;
}

/* product2 end */

/* bottom begin */
.information {


}

.information > div {
    float:left;

}

.information > div > h3 {
    margin: 0 auto;
    line-height: 50px;
    text-indent: 15px;
}

.information > div > hr {
    width: 35px;
    border-color: black;
    margin-top: 30px;
    margin-left: 24px;
    text-align: left;
}

.information > div > p {
    width: 262px;
    padding-top: 25px;
    margin-left: 24px;
    padding-bottom: 25px;	
}

.information > div > a {
    color: red;
    padding-left: 24px;
    line-height: 30px;	
}

/* bottom end */